<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:background="@drawable/layout_background"
    android:layout_height="match_parent">

    <Button
        android:id="@+id/out"
        android:layout_width="0dp"
        android:layout_height="wrap_content"
        android:layout_marginStart="10dp"
        android:layout_marginEnd="10dp"
        android:layout_marginBottom="5dp"
        android:background="@drawable/button1"
        android:fontFamily="@font/roboto_light"
        android:padding="10dp"
        android:text="Wyloguj"
        android:textAllCaps="false"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="15dp"
        app:backgroundTint="@null"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toStartOf="parent" />

    <TextView
        android:id="@+id/textView3"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginStart="20dp"
        android:layout_marginTop="20dp"
        android:fontFamily="@font/roboto_black"
        android:padding="2dp"
        android:text="Sklep"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="30dp"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toTopOf="parent" />

    <TextView
        android:id="@+id/profile"
        android:layout_width="0dp"
        android:layout_height="50dp"
        android:layout_marginStart="20dp"
        android:layout_marginTop="20dp"
        android:layout_marginEnd="20dp"
        android:background="@drawable/card_1"
        android:fontFamily="@font/roboto_light"
        android:gravity="center_vertical"
        android:padding="10dp"
        android:text="Profil"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="15dp"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintHorizontal_bias="0.0"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/textView21" />

    <TextView
        android:id="@+id/my_shop"
        android:layout_width="0dp"
        android:layout_height="50dp"
        android:layout_marginStart="20dp"
        android:layout_marginTop="20dp"
        android:layout_marginEnd="20dp"
        android:background="@drawable/card_1"
        android:fontFamily="@font/roboto_light"
        android:gravity="center_vertical"
        android:padding="10dp"
        android:text="Moje zakupy"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="15dp"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintHorizontal_bias="0.0"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/textView3" />

    <TextView
        android:id="@+id/notifications"
        android:layout_width="0dp"
        android:layout_height="50dp"
        android:layout_marginStart="20dp"
        android:layout_marginTop="20dp"
        android:layout_marginEnd="20dp"
        android:background="@drawable/card_1"
        android:fontFamily="@font/roboto_light"
        android:gravity="center_vertical"
        android:padding="10dp"
        android:text="Moje powiadomienia"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="15dp"
        app:backgroundTint="@null"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintHorizontal_bias="1.0"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/my_shop" />

    <TextView
        android:id="@+id/password_changer"
        android:layout_width="0dp"
        android:layout_height="50dp"
        android:layout_marginStart="20dp"
        android:layout_marginTop="20dp"
        android:layout_marginEnd="20dp"
        android:background="@drawable/card_1"
        android:fontFamily="@font/roboto_light"
        android:gravity="center_vertical"
        android:padding="10dp"
        android:text="Zmiana hasła"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="15dp"
        app:backgroundTint="@null"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintHorizontal_bias="0.0"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/profile" />

    <TextView
        android:id="@+id/textView21"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginStart="20dp"
        android:layout_marginTop="20dp"
        android:fontFamily="@font/roboto_black"
        android:padding="2dp"
        android:text="Ustawienia"
        android:textColor="@color/text"
        android:textColorHint="@color/text"
        android:textSize="30dp"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/notifications" />

</androidx.constraintlayout.widget.ConstraintLayout>